body {
  background-color: lightgray;
}

.cart {
  color: #ff414d !important;
}

.bg-danger,
.btn-danger {
  background-color: #ff414d !important;
}

.no-padding {
  padding: 0;
}

.h-200 {
  height: 200px;
}

.container {
  background-color: white;
}

.img-lite {
  height: 200px;
  width: 100%;
  display: block;
}
